
.timer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 250px;
}

.time {
    font-size: 5rem;
}

.pomodoro, .rest {
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    color: rgb(39, 38, 38);
}

.pomodoro {
    background-color: rgba(255, 99, 71, 0.638);
}

.rest {
    background-color: aquamarine;
}

.clock-logo {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer > button {
    border: none;
    background-color: none;
    width: max-content;
    background-color: transparent;
}

.tomato-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    height: 20px;
}

.tomato-container img {
    height: 100%;
}


.task-over-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.233);
    z-index: 1000;
}

.task-over-modal {
    background-color: white;
    width: 300px;
    height: 300px;
    z-index: 1000;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}